bluecolor = rgb(0, 108, 180)
secondbluecolor = rgb(2,111,186)
textsize = 53.09px
windowsize = 1600px
firstcolumnsize = windowsize * 0.7571 * 0.44


/*Шрифты*/
@font-face {
  font-family: 'Myriad Pro';
  src: url('/src/css/fonts/MyriadPro/MyriadPro-Bold.eot');
  src: local('/src/css/fonts/MyriadPro/Myriad Pro Bold'), local('MyriadPro-Bold'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face
  font-family Myriad Pro Light
  src url('/src/css/fonts/MyriadPro/MyriadPro-LightSemiExt.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;

@font-face
  font-family Myriad Pro Regular
  src url('/src/css/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;


.contact .group-title
  margin-left 17px


.contact
  .table_info
    margin-left 11.43%
  //padding-right 0.05625 * windowsize
  padding-bottom 20px


.table_info
  margin 0
  padding 0
  margin-top 40px
  tr
    height 70px
    max-height 70px
    td:first-child
      color bluecolor
      text-transform uppercase
      font-family "Myriad Pro"
      font-size 26.5 px
      width 166px
      max-width  166px
    td:last-child
      font-family "Myriad Pro Regular"
      font-size 26.5 px
      text-align left
    td
      vertical-align top