bluecolor = rgb(0,108,180)
secondbluecolor = #3f6fb6
textsize = 53.09px
windowsize = 1600px
firstcolumnsize = windowsize * 0.7571


/*Шрифты*/
@font-face {
  font-family: 'Myriad Pro';
  src: url('/src/css/fonts/MyriadPro/MyriadPro-Bold.eot');
  src: local('/src/css/fonts/MyriadPro/Myriad Pro Bold'), local('MyriadPro-Bold'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face
  font-family Myriad Pro Light
  src url('/src/css/fonts/MyriadPro/MyriadPro-LightSemiExt.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;

@font-face
  font-family Myriad Pro Regular
  src url('/src/css/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;


funcellipse1(r)
  widthborder = r*0.063333
  diametr = r - 2 - widthborder*2
  background-color bluecolor
  width diametr
  height diametr
  border white widthborder  solid
  border-radius 100%
  box-shadow bluecolor 0 0 0 1px


/*Иконка первого раздела*/
.icon-main
  funcellipse1(windowsize*0.1875)
  @media (max-width 900px)
    funcellipse1(windowsize*0.1875*0.5)
  margin auto
  margin-top 115px
  margin-bottom 26px


/*первый раздел*/
.namehere
  text-align center
  padding-bottom 104px
  padding-left 1.43%
  span
    display block
  .name
    font-family "Myriad Pro Light"
    font-size 1.27em
  .surname
    font-family "Myriad Pro"
    font-size 1.5em
    line-height 0.75
  .graphicdes
    margin-top 16px
    font-family "Myriad Pro"
    font-size 0.6em