bluecolor = rgb(0,108,180)
secondbluecolor = rgb(2,111,186)
textsize = 53.09px
windowsize = 1600px
firstcolumnsize = windowsize * 0.7571 * 0.44
greycolor = rgb(231,231,231)


func_paint_blue_shadow(value)
  vall = bluecolor 35px 0
  coef = 0
  for i in 2..value
    if i == 5 || i ==10
      coef +=3
    vall = vall, bluecolor 35px * (i) + coef 0
  return vall

func_paint_grey_shadow(value)
  vall = greycolor -35px 0
  for i in 2..value
    vall = vall, greycolor -35px * (i) - 3 0
  return vall

func_paint_color_ellipse(number)
  for i in 1..number
    .ellipse:nth-child({i})
      background-color bluecolor
  for i in number+1..12
    .ellipse:nth-child({i})
      background-color greycolor
  /*.ellipse:nth-child(temp_number)
    if temp_number < number
      background-color bluecolor
    else
      background-color greycolor
  if temp_number != 12
    temp_number = temp_number +1
    func_paint_color_ellipse(number, temp_number)*/



.skills_container
  margin-left 11.43%
  width 75.714%
  @media (max-width 900px)
    width 100%
    margin-left 0
  text-align center
  display flex
  flex-direction column
  padding-top 38px
  .ellipse
    display inline-block
    border-radius 100%
    width: 5.4%;
    overflow: hidden;
  .ellipse:before
    content: "";
    padding-top: 100%;
    float: left;
  .ellipse_container
    display flex
    justify-content space-between
    width 78.9%
    margin auto
    margin-top 19px
    margin-bottom 35px
  .skills_element
    font-family "Myriad Pro Regular"
    text-transform uppercase
    font-size 0.625em
    line-height 0.433em


    /*Рисование кружков*/
.creative
  func_paint_color_ellipse(9)



.teamwork
  func_paint_color_ellipse(11)


.innovate
  func_paint_color_ellipse(6)


.communication
  func_paint_color_ellipse(11)
