bluecolor = rgb(0, 108, 180)
secondbluecolor = rgb(2,111,186)
greycolor = rgb(231,231,231)
textsize = 53.09px
windowsize = 1600px
firstcolumnsize = windowsize * 0.7571 * 0.44


/*Шрифты*/
@font-face {
  font-family: 'Myriad Pro';
  src: url('/src/css/fonts/MyriadPro/MyriadPro-Bold.eot');
  src: local('/src/css/fonts/MyriadPro/Myriad Pro Bold'), local('MyriadPro-Bold'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
          url('/src/css/fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face
  font-family Myriad Pro Light
  src url('/src/css/fonts/MyriadPro/MyriadPro-LightSemiExt.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;

@font-face
  font-family Myriad Pro Regular
  src url('/src/css/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;


func_gradient(d1)
  &::after
    content ""
    //width 358px
    width 87.74%
    height 29px
    display block
    background-color bluecolor
    background linear-gradient(to right, bluecolor d1, greycolor d1)


.software
  .title
    .group-title
      margin-left 3.19%
  .software_list
    width 90.66%
    max-width 90.66%
    margin-left 2%
    color black
    text-transform uppercase
    font-family "Myriad Pro Regular"
    font-size 0.625em
    display flex
    @media (max-width: 900px)
      flex-direction column
      align-items center
    .software_list_column
      display flex
      width 50%
      max-width 50%
      @media (max-width 900px)
        width 80%
        max-width 80%
      flex-direction column
    .software_list_column1
      .software_element:nth-child(1)
        func_gradient(90%)
      .software_element:nth-child(2)
        func_gradient(70%)
      .software_element:nth-child(3)
        func_gradient(55%)
    .software_list_column2
      .software_element:nth-child(1)
        func_gradient(80%)
      .software_element:nth-child(2)
        func_gradient(60%)
      .software_element:nth-child(3)
        func_gradient(90%)




